## Objectifitas yang ingin dicapai

Menghitung kapasitas baterai tiap waktu untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari data set.

**keterangan kolom :**
* time(s): Detik ke- pengukuran
* V_m: Voltage/tegangan yang terukur tiap waktu
* Current (A): Kuat arus terukur tiap waktu
* Cycle: Nomor siklus charge-discharge baterai
* Cap: Kapasitas baterai tiap waktu

## Import Pustaka

melakukan Import Pustaka pandas

In [1]:
import pandas as pd

## Data Loading

Melakukan loading dataset dan melakukan explorasi data sederhana

In [2]:
# loading data
data = pd.read_excel('NMC1-9.xlsx')

In [3]:
# melihat dataset
data

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

#### Explorasi Data

In [4]:
# melihat datatypes dan apakah terdapat missing data 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

In [5]:
# melihat columns dataset
data.columns

Index(['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap'], dtype='object')

In [6]:
# melihat statistika dasar dari data
data.describe()

            time(s)           V_m   Current (A)         Cycle           Cap
count  90982.000000  90982.000000  90982.000000  90982.000000  90982.000000
mean   45490.500000      3.607666      0.999264      4.978699      2.806214
std    26264.385433      0.322777      0.001997      2.582135      0.023283
min        0.000000      2.497000      0.993000      1.000000      2.770180
25%    22745.250000      3.422000      0.997000      3.000000      2.786860
50%    45490.500000      3.636000      0.999000      5.000000      2.804878
75%    68235.750000      3.868000      1.001000      7.000000      2.823520
max    90981.000000      4.114000      1.003000      9.000000      2.840817

In [7]:
# melihat apakah ada data missing
data.isna().sum()

time(s)        0
V_m            0
Current (A)    0
Cycle          0
Cap            0
dtype: int64

In [8]:
# melihat data['Cycle']
data['Cycle'].value_counts()

1    10237
2    10206
3    10175
4    10158
5    10107
6    10050
7    10041
8    10028
9     9980
Name: Cycle, dtype: int64

# Answer

Hitung kapasitas baterai tiap waktunya untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari dataset dengan ketentuan sebagai berikut:

1. Gunakan function untuk menghitung hambatan dan daya
2. Harus menerapkan konsep looping, conditional if, dan pandas query

In [9]:
# membuat query untuk cycle_ganjil
cycle_ganjil = data[data['Cycle']%2!=0]

# melihat query cycle_ganjil
cycle_ganjil

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[50540 rows x 5 columns]

In [10]:
# membuat function kapasitas_baterai untuk cycle_ganjil
def kapasitas_baterai():
    for value in cycle_ganjil:
        if value in cycle_ganjil:
            capacity = cycle_ganjil['V_m'] / cycle_ganjil['Current (A)']
        return capacity

In [11]:
# membuat query cycle_genap
cycle_genap = data[data['Cycle']%2==0]

# melihat query cycle_genap
cycle_genap

       time(s)    V_m  Current (A)  Cycle       Cap
10237    10237  4.111        0.993      2  2.833465
10238    10238  4.110        0.995      2  2.833465
10239    10239  4.108        0.998      2  2.833465
10240    10240  4.107        0.999      2  2.833465
10241    10241  4.107        1.001      2  2.833465
...        ...    ...          ...    ...       ...
80997    80997  2.508        1.000      8  2.783342
80998    80998  2.505        0.999      8  2.783342
80999    80999  2.503        0.999      8  2.783342
81000    81000  2.501        0.999      8  2.783342
81001    81001  2.499        1.000      8  2.783342

[40442 rows x 5 columns]

In [12]:
# membuat function daya_baterai tiap waktunya untuk cycle genap
def daya_baterai():
    for value in cycle_genap:
        if value in cycle_genap:
            daya = cycle_genap['V_m'] * cycle_genap['Current (A)']
        return daya

# Hasil

#### Memanggil kapasitas_baterai tiap waktunya untuk cycle ganjil

In [13]:
# memanggil kapasitas_baterai function
kapasitas_baterai()

0        4.110331
1        4.104208
2        4.098098
3        4.101202
4        4.096096
           ...
90977    2.500998
90978    2.499002
90979    2.497006
90980    2.495010
90981    2.492016
Length: 50540, dtype: float64

#### Memanggil daya_baterai tiap waktunya untuk cycle genap

In [14]:
# memanggil data_baterai function
daya_baterai()

10237    4.082223
10238    4.089450
10239    4.099784
10240    4.102893
10241    4.111107
           ...
80997    2.508000
80998    2.502495
80999    2.500497
81000    2.498499
81001    2.499000
Length: 40442, dtype: float64